.home {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: large;
}

.products {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.services {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.service-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.contact {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.contact-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.map-container {
  border: 1px solid #ddd;
  padding: 1rem;
  margin: 1rem auto;
  border-radius: 5px;
  text-align: center;
  background-color: #f9f9f9;
  transition: box-shadow 0.3s;
  width: 70%;
}

main {
  flex: 1;
  padding: 1rem;
  text-align: center;
}
