.header {
  display: flex;
  flex-direction: row;
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.logo {
  width: 230px;
  height: auto;
  margin: 0 auto;
}

h1{
  padding: 20px;
  font-size: 3rem;
}

.phone-container {
  margin: 0 auto;
  display: flex;
  padding: 10px 7px;
  background-color: #15781B;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  border: 1px solid black;
  transition: box-shadow 0.3s;
}

.phone-text{
  font-size: 1.7rem;
  color: white;
  margin: auto;
}

