.product-card {
  border: 1px solid #ddd;
  padding: 1rem;
  margin: 1rem;
  border-radius: 5px;
  text-align: center;
  background-color: #f9f9f9;
  transition: box-shadow 0.3s;
  width: 300px;
}

.product-card img {
  max-width: 100%;
  height: 200px;
  object-fit: cover;
  border-bottom: 1px solid #ddd;
  margin-bottom: 1rem;
  border-radius: 5px;
}

.product-card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
